.content{
    margin-top: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba(44, 43, 43, 0.675);
max-width:600px;
    z-index: 10;
    position: relative;
}

body{
    margin: 0;
    height: 83vh;
    font-size: large;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('/static/img/img2.jpg');
}
body::before{
    content: "";
    background-color:rgba(0, 0, 0, 0.942);
    position:fixed;
    top: 0;
    left: 0;
width: 100%;
height: 100%;
z-index: 10;
}
h1{
    color: white;
}
h5{
    margin-bottom: 10px;
    color: white;
    font-weight: 100;
}
.button{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(240, 248, 255, 0);
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 5px;

}

#review{
    max-width: 90%;
}