<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
  </head>
  <body>
    <div class="container">
        <h1>Sentiment Analysis</h1>
        <form action="/predict" method="post">
            <label for="review">Enter your review:</label><br>
            <textarea id="review" name="review" rows="4" cols="50"></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
